* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #242424;
}

ul {
  color: #dbdbdb;
  margin: 10% 45%;
  list-style: none;
  font-family: verdana;
  display: inline-block;
  text-align: center;
  font-size: 20px;
}

li {
  margin-top: 40px;
}

.relative {
  position: relative;
  overflow: hidden;
}

li:hover {
  color: white;
}

li:nth-of-type(1)::before {
  content: "";
  position: absolute;
  transform: translateX(-110%);
  width: 100px;
  height: 25px;
  background: #ff3636;
  transition: 0.5s;
}

div:nth-of-type(1)::before {
  content: "";
  position: absolute;
  transform: translateX(-120%) translateY(25px);
  width: 150px;
  height: 50px;
  background: #242424;
  z-index: 1
}

div:nth-of-type(1)::after {
  content: "";
  position: absolute;
  transform: translateX(22%) translateY(25px);
  width: 150px;
  height: 50px;
  background: #242424;
  z-index: 1
}

li:nth-of-type(1)::after {
  content: "";
  position: absolute;
  transform: translateX(20%) translateY(22px);
  width: 120px;
  height: 3px;
  background: #ff3636;
  transition: 0.3s 0.3s;
}

li:nth-of-type(1):hover::before {
  transform: translateX(80%);
}

li:nth-of-type(1):hover::after {
  transition-delay: 0.3s;
  transform: translateX(-60%) translateY(22px);
}

/* END OF HOME */

li:nth-of-type(2)::before {
  content: "";
  position: absolute;
  transform: translateX(-110%);
  width: 100px;
  height: 25px;
  background: #ff3636;
  transition: 0.5s;
}

div:nth-of-type(2)::before {
  content: "";
  position: absolute;
  transform: translateX(-125%) translateY(25px);
  width: 150px;
  height: 50px;
  background: #242424;
  z-index: 1
}

div:nth-of-type(2)::after {
  content: "";
  position: absolute;
  transform: translateX(25%) translateY(25px);
  width: 150px;
  height: 50px;
  background: #242424;
  z-index: 1
}

li:nth-of-type(2)::after {
  content: "";
  position: absolute;
  transform: translateX(20%) translateY(22px);
  width: 120px;
  height: 3px;
  background: #ff3636;
  transition: 0.3s 0.3s;
}

li:nth-of-type(2):hover::before {
  transform: translateX(80%);
}

li:nth-of-type(2):hover::after {
  transition-delay: 0.3s;
  transform: translateX(-60%) translateY(22px);
}

/* END OF ABOUT */

li:nth-of-type(3)::before {
  content: "";
  position: absolute;
  transform: translateX(-110%);
  width: 100px;
  height: 25px;
  background: #ff3636;
  transition: 0.5s;
}

div:nth-of-type(3)::before {
  content: "";
  position: absolute;
  transform: translateX(-133%) translateY(25px);
  width: 150px;
  height: 50px;
  background: #242424;
  z-index: 1
}

div:nth-of-type(3)::after {
  content: "";
  position: absolute;
  transform: translateX(35%) translateY(25px);
  width: 150px;
  height: 50px;
  background: #242424;
  z-index: 1
}

li:nth-of-type(3)::after {
  content: "";
  position: absolute;
  transform: translateX(20%) translateY(22px);
  width: 120px;
  height: 3px;
  background: #ff3636;
  transition: 0.3s 0.3s;
}

li:nth-of-type(3):hover::before {
  transform: translateX(110%);
}

li:nth-of-type(3):hover::after {
  transition-delay: 0.3s;
  transform: translateX(-80%) translateY(22px);
}

/* END OF CONTACT */

li:nth-of-type(4)::before {
  content: "";
  position: absolute;
  transform: translateX(-110%);
  width: 100px;
  height: 25px;
  background: #ff3636;
  transition: 0.5s;
}

div:nth-of-type(4)::before {
  content: "";
  position: absolute;
  transform: translateX(-115%) translateY(25px);
  width: 150px;
  height: 50px;
  background: #242424;
  z-index: 1
}

div:nth-of-type(4)::after {
  content: "";
  position: absolute;
  transform: translateX(17%) translateY(25px);
  width: 150px;
  height: 50px;
  background: #242424;
  z-index: 1
}

li:nth-of-type(4)::after {
  content: "";
  position: absolute;
  transform: translateX(20%) translateY(22px);
  width: 120px;
  height: 3px;
  background: #ff3636;
  transition: 0.3s 0.3s;
}

li:nth-of-type(4):hover::before {
  transform: translateX(60%);
}

li:nth-of-type(4):hover::after {
  transition-delay: 0.3s;
  transform: translateX(-40%) translateY(22px);
}

/* END OF FAQ */
